@model BascketPageViewModel

<table class="table table-bordered table-info table-striped">
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>SubTotal</th>
        <th>Remove</th>
    </tr>
    @foreach (var item in Model.Bascket.Items)
    {
       <tr>
        <td>@item.Product.Name</td>
        <td>@item.Product.Price</td>
        <td>@item.Quantity</td>
        <td>@(item.Quantity*item.Product.Price)</td>
        <td>
            <form asp-controller="Bascket" asp-action="RemoveFromBascket" method="post">
                <input type="hidden" name="productId" value="@item.Product.Id"/>
                <input type="hidden" name="returnUrl" value="@Model.ReturnUrl"/>
                <input type="submit" value="Remove" class="btn btn-danger" />
            </form>
        </td>
    </tr> 
    }
    <tr>
        <td>TotalPrice:</td>
        <td colspan="4">@Model.Bascket.TotalPrice()</td>
    </tr>
</table>
<div class="text-center">
    <a class="btn alert-info" href="@Model.ReturnUrl">Continue Shopping</a>
      <a class="btn alert-success" asp-action="CheckOut" asp-controller="Order">CheckOut</a></div>
